{% set currentYear = "now"|date("Y") %}
{% set maxYear = currentYear + 7 %}

{% if app.session.get('successMsg') %}
    <div class="alert alert-success alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        {{app.session.get('successMsg')}}
    </div>
{% endif %}


<div class="custom-block calendar-block">
    <div class="custom-head clearfix">
        <div class="custom-menu">
            <button class="up-custom"></button>
        </div>
        <h3>Update Account</h3>
    </div>
    <div class="clearfix">
        <div id="account-info-edit" class="display-block-persistent" data-controller="leads_display" data-action="leadEvent">
            <div class="form-column">
                <div class="before-error"></div>
                <div class="small-table">
                    <table>
                        <tbody>
                        <tr>
                            <th colspan="2" >Credit Card Information  </th>
                            <th colspan="2" width="50%"></th>
                        </tr>
                        <tr>
                            <td colspan = "2">
                                <select id="timeZone">
                                    <option disabled selected>Select Your Time Zone</option>
                                </select>
                            </td>
                            <td colspan = "2">
                                <select class="active-select" id="product">
                                    <option disabled selected data-mRate="" data-yRate="">Select Your Product</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 105px;"><span> Number of users : </span></td>
                            <td>
                                <select class="active-select" style="width: 62%;" id="usersNumber">
                                    {% for i in 1..15 %}
                                        <option value="{{ i }}">{{ i }}</option>
                                    {% endfor %}
                                </select>
                            </td>
                            <td style="width: 105px;"><span> Amount : </span></td>
                            <td>
                                <input id="amount" style="width: 60%;" type="text" disabled name="amount" class="form-control" />
                            </td>
                        </tr>
                        <tr>
                            <td colspan = "2"><input id="cardFirstName" class="form-control" type="text" placeholder="Card Holder First Name" /></td>
                            <td colspan = "2"><input id="cardLastName" class="form-control" type="text" placeholder="Card Holder Last Name" /></td>
                        </tr>
                        <tr>
                            <td colspan = "2"><input id="cardNumber" class="form-control digits" type="text" placeholder="Card Number" /><span class="errmsg"></span></td>
                            <td colspan = "2">
                                <select id="cardType">
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 105px;">
                                <select id="month">
                                    {% for i in 1 .. 12 %}
                                        <option value="{% if i < 10 %}0{% endif %}{{ i }}">({{ i }}) {{ date('2012-' ~ i ~ '-01') |date('M') }}</option>
                                    {% endfor %}
                                </select>
                            </td>
                            <td>
                                <select style="width: 62%;" id="year">
                                    {% for i, year in currentYear .. maxYear %}
                                        <option value="{{ year }}">{{ year }}</option>
                                    {% endfor %}
                                </select>
                            </td>
                            <td colspan = "2"><input id="cardCode" class="form-control digits" type="text" placeholder="Card Security Code" /><span class="errmsg"></span></td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <select class="active-select" id="frequency">
                                    <option value="0">Monthly</option>
                                    <option value="1">Yearly</option>
                                </select>
                            </td>
                            <td colspan = "2">
                                <input id="acceptTerms" type="checkbox" />
                                I accept <a href="https://surgeactivity.com/terms-and-conditions/">Terms</a> and <a href="https://surgeactivity.com/privacy-policy/">Private Policy</a
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <br />
            </div>

            <div class="show-display-per-block-actions" style="margin-bottom: 15px; margin-left:20px;">
                <button class="btn-save-block btn btn-green">Update Account</button>
            </div>
        </div>
    </div>
</div>


