{% block widget %}
    <div class="custom-block table-block">
        <div class="custom-head clear-fix">
            <div class="custom-menu">
                <button class="up-custom"></button>
                <button class="settings-custom"></button>
                <button class="close-custom"></button>
            </div>
            <div class="custom-menu-select">
                {% if persons is not empty %}
                    <select class="user_data">
                        {% for person in persons %}
                            <option {% if selectedUser == person.username %} selected {% endif %}>{{ person.username}}</option>
                        {% endfor %}
                    </select>
                {% endif %}
            </div>
            <h3>Quotes</h3>
        </div>
        <div class="custom-content">
            <table class="custom-table">
                <thead>
                <tr>
                    <th><span>Name</span><a class="filter-link" href="#"></a></th>
                    <th><span>Status</span><a class="filter-link" href="#"></a></th>
                    <th><span>Product</span><a class="filter-link" href="#"></a></th>
                    <th><span>Account Name</span><a class="filter-link" href="#"></a></th>
                    <th><span>Official Phone</span><a class="filter-link" href="#"></a></th>
                    <th><span>Email</span><a class="filter-link" href="#"></a></th>
                    <th><span>Quote Score</span><a class="filter-link" href="#"></a></th>
                </tr>
                </thead>
                <tbody>
                {% for item in data %}
                    <tr >
                        <td><span>{{ item.name }}</span></td>
                        <td><span>{{ opportunityStatus[item.status] }}</span></td>
                        <td><span>{{ item.opportunityCategory }}</span></td>
                        <td><span>{{ item.contactCard.firstName }} {{ item.contactCard.lastName }}</span></td>
                        <td><span>{{ item.contactCard.phone }}</span></td>
                        <td><span>{{ item.contactCard.email }}</span></td>
                        <td><span>No data</span></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
