{% block widget %}
    <div class="custom-block">
        <div class="custom-head clear-fix">
            <div class="custom-menu">
                <button class="up-custom"></button>
                <button class="settings-custom"></button>
                <button class="close-custom"></button>
            </div>
            <div class="custom-menu-select">
                {% if persons is not empty %}
                    <select class="user_data">
                        {% for person in persons %}
                            <option {% if selectedUser == person.username %} selected {% endif %}>{{ person.username}}</option>
                        {% endfor %}
                    </select>
                {% endif %}
            </div>
            <h3>My Calendar <span>Today is {{"now"|date('M d, Y')}}</span></h3>
        </div>
        <div class="custom-content">
            <ul class="calendar-list">
                    <li>
                        <h4>Happening today</h4>
                    {% for item in calendarData['today'] %}
                        <div class="calendar-row">
                            {% if item.activity is defined %}
                                <a href="{{ path('admin_zesharcrm_core_lead_list', {'filters': 'reset', 'filter' : {'leadCampaign' : {'value' : item.activity['id'] } } } ) }}">{{ item.activity['title'] }}</a>
                                <span class="date">{{ item.activity['startTime']|date("H:i") }}
                                    {% if item.activity['startTime'] !=  item.activity['endTime']  %}
                                        - {{ item.activity['endTime']|date("H:i") }}
                                    {% endif %}
                            </span>
                            {% else %}
                                <a href="{{ path(item.url, {'id': item.lead}) }}">{{ item.firstName }} {{ item.middleName }} {{ item.lastName }} - {{ item.location }}</a>
                                <span style="font-size:10px;">({{ item.type }})</span>
                                <span class="date"> {{ item.time|date("H:i") }} </span>
                            {% endif %}

                        </div>
                    {% endfor %}
                </li>
                <li>
                    <h4>Upcoming events</h4>
                    {% for item in calendarData['future'] %}
                        <div class="calendar-row">
                            <span class="date">
                                {{ item.time|date("d") }}
                                <span>{{ item.time|date("M") }}</span>
                            </span>
                            {% if item.activity is defined %}
                                <a href="{{ path('admin_zesharcrm_core_lead_list', {'filters': 'reset', 'filter' : {'leadCampaign' : {'value' : item.activity['id'] } } } ) }}">{{ item.activity['title'] }}</a>
                                <span class="date">{{ item.activity['startTime']|date("H:i") }}
                                    {% if item.activity['startTime'] !=  item.activity['endTime']  %}
                                        - {{ item.activity['endTime']|date("H:i") }}
                                    {% endif %}
                            </span>
                            {% else %}
                                <a href="{{ path(item.url, {'id': item.lead}) }}">{{ item.firstName }} {{ item.middleName }} {{ item.lastName }} - {{ item.location }}</a>
                                <span style="font-size:10px;">({{ item.type }})</span>
                                <span class="date"> {{ item.time|date("H:i") }} </span>
                            {% endif %}

                        </div>
                    {% endfor %}
                </li>
            </ul>
        </div>
    </div>
{% endblock %}
