<script type=text/javascript>
    jQuery(document).ready(function(){
        var billing = (function(){
            var tab = {
                views:{ },
                init: function(){
                    tabViewsFactory.hideAll();
                }
            };

            var tabViewsFactory = {
                show: function(){
                    $('.clearfix').css('display', 'block');
                },
                hideAll: function(){
                    $('.custom-head').next('.clearfix').css('display', 'none');
                    $('.custom-head').next('.clearfix').first().css('display', 'block');
                }
            }

            return tab;
        })();


        $('#company-info-edit').on('click', 'button', editCompanyInfo);
        $('#contact-info-edit').on('click', 'button', editContactInfo);
        $('#billing-info').on('click', 'button', editBillingInfo);
        $('.accept-payment').on('click', 'button', acceptPayment);
        $('.disable-account').on('click', 'button', disableAccount);

        $('.active-select').change(considerAmount);
        $('input[type="radio"]').click(uncheckRadioButton);

        billing.init();

    });

    function uncheckRadioButton() {
        $('input[name="frequency"]').attr('checked', false);
        $(this).attr('checked',true);
        $(this).prop('checked',true);
        considerAmount();
    }

    function considerAmount() {
        console.log('Hey, i am here');
        var frequencies = $('input[name="frequency"]');
        frequencies.each(function(ind,val){
            if($(val).attr('checked') == 'checked'){
                frequency = $(val).val();
            }
        });

        product = $('select#product option:selected');

        var attrName;
        var addMonth;

        if(frequency == 0) {
            // monthly
            attrName = 'data-billingMRate';
            addMonth = 1;
        }else {
            // yearly
            attrName = 'data-billingYRate';
            addMonth = 12;
        }

        var expirationDate = $('#effectiveDate').datepicker('getDate');
        expirationDate.setMonth(expirationDate.getMonth()+addMonth);
        $('#expirationDate').datepicker('setDate', expirationDate);

        var rate = product.attr(attrName);
        var users = $('select#usersNumber option:selected').val();

        var amount = rate * users;

        $('#billingCredit').val(amount.toFixed(2));
    }

    function editBillingInfo(e) {
        product = $('select#product option:selected');

        var data = {};
        data['billingId'] = {{ object.id }};
        data['subscriptionProduct'] = product.attr('data-billingProduct');
        data['billingLicense'] = $('#billingLicense').val();
        data['license'] = $('#usersNumber option:selected').val();
        data['subscriptionStatus'] = $('#billingStatus').val();
        data['credit'] = $('#billingCredit').val();
        data['frequency'] = $("input[name='frequency']:checked").val();
        data['effectiveDate'] = $("#effectiveDate").val();
        data['expirationDate'] = $("#expirationDate").val();
        data['creditCardType'] = $("#creditCard").val();
        data['creditCardName'] = $("#creditCardName").val();
        data['creditCardAddress'] = $("#creditCardAddress").val();
        data['creditCardNumber'] = $("#creditCardNumber").val();
        data['creditCardCity'] = $("#creditCardCity").val();
        data['creditCardExpirationMonth'] = $("#creditCardExpirationMonth").val();
        data['creditCardState'] = $("#creditCardState").val();
        data['creditCardExpirationYear'] = $("#creditCardExpirationYear").val();
        data['creditCardZip'] = $("#creditCardZip").val();

        var ajaxUrl = "{{ app.request.getBaseURL() }}/ajax/billingInfo/editBillingInfo";
        console.log(ajaxUrl);

        $.ajax(ajaxUrl, {
            'data': data,
            'type': 'POST',
            'success': function (response) {
                window.location.reload();
            },
            'error': function (error) {
                //window.location.reload();
            }
        });
        e.preventDefault();
        return false;
    }

    function editCompanyInfo(e) {
        var data = {};
        data['companyId'] = "{{ object.creator.company.id }}";
        data['firstAddr'] = $('#companyFirstAddress').val();
        data['secondAddr'] = $('#companySecondAddress').val();
        data['city'] = $('#companyCity').val();
        data['state'] = $('#companyState').val();
        data['postalCode'] = $('#companyPostalCode').val();

        var ajaxUrl = "{{ app.request.getBaseURL() }}/ajax/billingInfo/editCompany";

        $.ajax(ajaxUrl, {
            'data': data,
            'type': 'POST',
            'success': function (response) {
                console.log('ajax success');
            },
            'error': function (error) {
                console.log('ajax error');
                console.log(error);
            }
        });
        e.preventDefault();
        return false;
    }

    function editContactInfo(e) {
        $('span.error').css('display', 'none');
        var data = {};
        data['userId'] = "{{ object.creator.id }}";
        data['firstName'] = $('#contactFirstName').val();
        data['lastName'] = $('#contactLastName').val();
        data['username'] = $('#contactUsername').val();
        data['email'] = $('#contactEmail').val();
        data['password'] = $('#contactPassword').val();
        data['passwordConfirmation'] = $('#contactPasswordConfirmation').val();

        if(isEmail(data['email']) && isEqualPasswords(data['password'], (data['passwordConfirmation'])) ) {
            var ajaxUrl = "{{ app.request.getBaseURL() }}/ajax/billingInfo/editContact";
            $.ajax(ajaxUrl, {
                'data': data,
                'type': 'POST',
                'success': function (response) {
                    console.log('ajax success');
                },
                'error': function (error) {
                    message = error.responseJSON.message;
                    $('span.error').text(message);
                    $('span.error').css('display', 'block');
                }
            });
        }

        e.preventDefault();
        return false;
    }


    function acceptPayment(e) {
        var data = {};
        data['companyId'] = {{ object.creator.company.id }};
        data['userId'] = {{ object.creator.id }};

        var ajaxUrl = "{{ app.request.getBaseURL() }}/ajax/billingInfo/acceptPayment";
        console.log(ajaxUrl);

        $.ajax(ajaxUrl, {
            'data': data,
            'type': 'POST',
            'success': function (response) {
                messages = response.message;
                console.log(response);
                location.reload();
            },
            'error': function (error) {
                messages = error.responseJSON.message;
                console.log(error);
                $(messages).each(function(ind, val){
                    $('div.before-error').after("<span class='error'>"+val+"</span><br />");
                });
            }
        });
        e.preventDefault();
        return false;
    }


    function disableAccount(e){
        var data = {};
        data['companyId'] = {{ object.creator.company.id }};
        data['userId'] = {{ object.creator.id }};

        var ajaxUrl = "{{ app.request.getBaseURL() }}/ajax/billingInfo/disableAccount";
        console.log(ajaxUrl);

        $.ajax(ajaxUrl, {
            'data': data,
            'type': 'POST',
            'success': function (response) {
                messages = response.message;
                console.log(response);
                location.reload();
            },
            'error': function (error) {
                messages = error.responseJSON.message;
                console.log(error);
                $(messages).each(function(ind, val){
                    $('div.before-error').after("<span class='error'>"+val+"</span><br />");
                });
            }
        });
        e.preventDefault();
        return false;
    }

    function isEmail(email) {
        var regex = /^([a-zA-Z0-9_.+-])+\@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$/;
        return regex.test(email);
    }

    function isEqualPasswords($pass, $confPass){
        if ($pass == $confPass) {
            return true;
        }

        return false;
    }

    function validate(obj) {
        console.log(obj);
        return true;
    }

    // уезжайте, спасайте себя

</script>
